<form action="/dogs/<%= params[:dog_id] %>/toys" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="toy-name">New Toy's Name:</label>
  <input id="toy-name" type="text" name="name">

  <label for="photo">Photo URL:</label>
  <input id="photo" type="text" name="photo_url">

  <input type="submit" value="Create Toy">
</form>
