<h1>Add an author</h1>

<form action="/authors" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >

  <label for "author">
    Author:
    <input type="text" name="author">
  </label>
  <label for "dob">
    DOB:
    <input type="date" name="dob">
  </label>
  <label for="gender">
    Gender:
    <select id="gender" name="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </label>
  <label for="has_pseudonym">
    Has Pseudonym?
    <input style="margin-right:auto;" type="checkbox" name="has_pseudonym">
  </label>
  <input type="submit" value="Add Author">
</form>
