<h1>Kittens!</h1>

<img src="http://placekitten.com/500/500">

<ul>
  <li><a href="/puppies">Not kittens, puppies</a></li>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
</ul>

