<h1>Welcome to Bowser's castle!</h1>
<center>
  <a href="/koopas">
    <img src="http://img3.wikia.nocookie.net/__cb20110705163001/unanything/images/d/df/Bowser's_castle.png">
  </a>
  <br>
  <a href="/koopas"><b>See the koopas</b></a>
</center>
