<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Koopas</title>
  <style>
    h1 {
      text-align: center
    }
    html
    {
      background: url('http://www.wallsave.com/wallpapers/2560x1600/new-super-mario-bros-/1053502/new-super-mario-bros-which-is-perfectly-awesome-did-i-1053502.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover
    }
    ul
    {
        list-style-type: none;
    }
    div {
      padding: 0 0 0 550px;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
