<h1>Create a roller coaster!</h1>
<form action="/rides" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>

  <label>
    Top Speed:
    <input type="text" name="top_speed">
  </label>

  <label>
    Minimum Height:
    <input type="text" name="min_height">
  </label>

  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>

  <button>Whoo Hoo!</button>

</form>
