<form action="/ponies" method="post">

<h1>Book Your Flight Below:</h1>

  <label>
    Origin
    <input type="text" name="origin" placeholder="from">
  </label>

  <label>
    Departure Date
    <input type="date" name="departure">
  </label>
    <br>
  <label>
    Destination
    <input type="text" name="destination" placeholder="to">
  </label>

  <label>
    Arrival Date
    <input type="date" name="return">
  </label>
    <br>
  <label>
    Passenger(s)
    <input type="number" name="name">
  </label>

  <button>Submit</button>

<h1>Input Login Information Below:</h1>

   <label>
    Email
    <input type="email" name="email" placeholder="email@">
  </label>

   <label>
    Password
    <input type="password" name="password">
  </label>

  <button>Submit</button>

<h1>Specify Your Pizza Order Below:</h1>

  <select name="topping">
  <option value="volvo">SELECT toppings</option>
  <option value="pepperoni">pepperoni</option>
  <option value="sausage">sausage</option>
  <option value="chicken">chicken</option>
  <option value="olives">olives</option>
  </select>

  <select name="size">
  <option value="volvo">SELECT Size</option>
  <option value="small">small</option>
  <option value="medium">medium</option>
  <option value="large">large</option>
  </select>
    <br>
  <select name="topping">
  <option value="volvo">SELECT toppings</option>
  <option value="pepperoni">pepperoni</option>
  <option value="sausage">sausage</option>
  <option value="chicken">chicken</option>
  <option value="olives">olives</option>
  </select>
    <br>
  <select name="topping">
  <option value="volvo">SELECT toppings</option>
  <option value="pepperoni">pepperoni</option>
  <option value="sausage">sausage</option>
  <option value="chicken">chicken</option>
  <option value="olives">olives</option>
  </select>
    <br>
  <select name="topping">
  <option value="volvo">SELECT toppings</option>
  <option value="pepperoni">pepperoni</option>
  <option value="sausage">sausage</option>
  <option value="chicken">chicken</option>
  <option value="olives">olives</option>
  </select>

  <button>Submit</button>

</form>
