<h1>Kreate a Koopa</h1>
<form action="/koopas" method="post">

<label>
  Name:
  <input type="text" name="name">
</label>
<br>
<label>
  Color:
  <input type="text" name="color">
</label>
<br>
<label>
  Has Shell:
  <input type="checkbox" name="has_shell">
</label>
<br>
<label>
  Image:
  <input type="text" name="image_url">
</label>
<br>
  <button>Create Koopa!</button>
</form>
<br>
<a href="/">Home</a>

