<form action="/" method="post">

    <p>Name:
      <label for="Name">
        <input type="text" name="name" placeholder="Name?">
      </label>
    </p>

    <p>Color:
      <label for="Color">
        <input type="text" name="color" placeholder="Color?">
      </label>
    </p>

    <p>Shelled?
      <label for="Does the Koopa have a Shell?">
        <input type="checkbox" name="has_shell">
      </label>
    </p>

    <p>Image URL:
      <label for="Photo URL">
        <input type="text" name="photo_url" placeholder="Image URL?">
      </label>
    </p>

    <button>Koooopppaaa KREATE!</button>



</form>
<a href="/">Back</a>
