<!DOCTYPE html>
<html>
<head>
  <title>Superhero</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page">
    <%= image_tag "brand/logo.png", alt: "" %>
  <%= yield %>
  </div>

</body>
</html>
