/*

Style Hints:

Body Font Size = 14px
	 Font Family = "Times New Roman", serif
	 Font Color = black
	 Background: #F3EBE9

H1 Font Size = 50px
   Font Family = Arial, Helvetica, sans-serif
   Text-transform: uppercase;
   color: #FFFFFF;	(White)

H2: Font Size = 18px
	Text-Transform: uppercase;
	Font-Family: cursive, Helvetica, sans-serif;

*/

body {
  background-image: url("../images/pattern1.png");
  font-size: 14px;
  font-color: black;

}

.page {
  background-color: #fff;
  margin: 0 auto;
  width: 980px;
}

.page .header {
  background-color: salmon;
  padding: 10px;
}

.page .header h1 {
  color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}

.page h2 {
  margin: 10px;
  text-decoration: underline;
  text-transform: uppercase;
}

.page .main {
  padding: 10px 0;
}

.page p {
  margin: 10px 0;
}

.page .photo-list {
  overflow: auto;
}

.page .photo-list li{
  float: left;
  text-align: center;
  width: 25%;
}

.page .photo-list img {
  border: 5px solid #ccc;
}

.page .footer {
  background-color: salmon;
  padding: 15px;
  text-align: right;
  color: white;
}




