<a href="/" style="color: white;">Home Page</a>
<h1 style="color: white; font: Helvetica;">This is the page about Inhak</h1>

<!-- <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c73.0.160.160/p160x160/1381288_2646140563903_1889650191_n.jpg"> -->

<body style="background-image: url(https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c73.0.160.160/p160x160/1381288_2646140563903_1889650191_n.jpg);"></body>

<ul>
  <a href="/hobbies"><li style="color: white; font-size: 20px;">Hobbies!</li></a>
  <a href="/pleasures"><li style="color: white; font-size: 20px;">Pleasures</li><a>

</ul>

