<!--

@Author: stephenstanwood
@Date:   2014-05-12 14:41:39
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-12 14:46:04

 -->
<h1>Let's make a clown!</H1>

<form action="/clowns" method="post">
  <label>Name<input type="text" name="name"></label>
  <label>Talent<input type="text" name="talent"></label>
  <label>Creepy?<input type="checkbox" name="is_creepy"></label>
  <label>Image URL:<input type="text" name="image_url"></label>

  <button>Create this clown!</button>
</form>
