<h1>Create a roller coaster</h1>

<form action= "/rollercoasters" method="post">

<label>Name:<input type = "text" name = "name"></label>
<label>Minimum height in feet:<input type = "number" step="any" name = "min_height"></label>
<label>Top speed in mph:<input type = "number" name = "top_speed"></label>
<label>Image URL:<input type = "text" name = "image_url"></label>

<button>Create this roller coaster</button>
</form>
