<form action="/authors/<%= @author.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">

  <input name="authenticity_token" type="hidden" value="<% form_authenticity_token %>">

  <button>Delete This Author</button>
</form>
