$yellow: #FF0;

body {
  background: #000 image-url("skyline.jpg") no-repeat;
  color: #fff;
  background-size: cover;
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page {
  background-color: rgba(0,0,0,0.75);
  margin: 0 auto;
  padding: 20px;
  width: 600px;

  h1{
    color: lighten($yellow, 20%);
  }

  .hero{
    width: 100%;
  }
}

a {
  color: $yellow;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}


