<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Complimenter</title>
    <link href="/style.css" rel="stylesheet">
    <style>
      body { background: <%= @@colors.sample %>; }
    </style>
  </head>
  <body>
    <h1>You're gooder than you think</h1>
    <%= yield %>
  </body>
</html>
