<form action="/" method="get">

  <label>
    Wikipedia Blurb
    <input type='text' name='query' placeholder='Enter Person, Place, Thing or Idea'>
    <input type="submit" value='Submit'>
  </label>
 </form>

<center><h1>
<%= @page %>

</h1></center>
