<h1>Mary's Library</h1>

<h2>Where would you like to start?</h2>
<ul>
  <li><a href="/authors">Author List</a></li>
  <li><a href="/books">Book List</a></li>
  <li><a href="/characters">Character List</a></li>

</ul>
