<h1>All of the Dogs:</h1>

<% @dogs.each do |dog| %>
  <h2><a href="/dogs/<%= dog.id %>"><%= dog.name %></a> is <%= dog.age %>.</h2>
  <img src="<%= dog.image_url %>">
<% end %>

<p><a href="/">Home</a></p>

