<!--

@Author: stephenstanwood
@Date:   2014-05-09 16:08:48
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-09 16:10:51

 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>99 Bottles of Beer on the Wall</title>

    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
    <br />
    <br />

    <img src="http://placekitten.com/650/350" />
  </body>
</html>
