<!--

@Author: stephenstanwood
@Date:   2014-05-09 16:06:37
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-09 16:10:46

 -->

<a href ="../../verse.erb">
  <h1>Take
  <%= @plural ? one : it %>
  down, pass it around... </h1></a>
<br /><br />
<a href="/verse/<%= @next %>" class="yes">AND THEN WHAT HAPPENS</a>
