<h1>Here are some frequently asked questions:</h1>

<h2>What animals do you have?</h2>
<p>What animals DON'T we have? </p>
<img src="http://shop4wallpaper.com/media/catalog/product/cache/2/thumbnail/170ec19af00183b5e0368529fc2daa2f/k/p/kp1733em_thumb.jpg">

