<h2>Pony Form</h2>
<form action="/ponies" method="post">
  <label>
    Name
    <input type="text" name="name">
  </label>
  <button>Submit</button>

  <label>
    Breed
    <input type="text" name="breed">
  </label>
  <button>Submit</button>
</form>

<h2> Flight Form </h2>
<form action="/flight" method="post">
  <label>
    Origin
    <select>
      <option>IAD</option>
      <option>BWI</option>
    </select>
  </label>

  <label>
    Destination
    <select>
      <option>JFK</option>
      <option>LAX</option>
      <option>MDW</option>
    </select>
  </label>

  <label>
    Date
    <input type="date">
  </label>
</form>


<h2> Login Form </h2>
<form action="/login" method="post">
  <label>
    Username
    <input type="email" name="username">
  </label>
  <label>
    Password
    <input type="password" name="password">
  </label>
  <button>Submit</button>
</form>

<h2> Pizza Form </h2>
<form action="/pizza" method="post">
  <label>
    Size
    <select>
      <option>S</option>
      <option>M</option>
      <option>L</option>
    </select>
  </label>

  <label>
    Toppings
    <input type="checkbox">
  </label>
  <button>Submit</button>
</form>

