<dl>
  <dt>
    <label>Portfolio:</label>
  </dt>
  <dd>
    <%=@portfolio.name %>
  </dd>
</dl>

<dl>
  <dt>
    <label for='stock_symbol'>Symbol:</label>
  </dt>
  <dd>
    <input id='stock_symbol' type='text' name='stock[symbol]' value='<%=@stock.symbol %>' autofocus>
  </dd>
</dl>

<dl>
  <dt>
    <label for='stock_holding'>Holding:</label>
  </dt>
  <dd>
    <input id='stock_holding' type='text' name='stock[holding]' value='<%=@stock.holding %>'>
  </dd>
</dl>



<div class='clear_both'></div>













