/*
* @Author: stephenstanwood
* @Date:   2014-06-11 07:08:42
* @Last Modified by:   stephenstanwood
* @Last Modified time: 2014-06-11 07:09:17
*/

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
}
