body {
  margin: 0;
  position: relative;
}

img {
  position: absolute;
}

img.empty {
  opacity: 0.5;
  top: 200px;
  z-index: 0;
}

img.drag {
  cursor: move;
  top: 0;
  z-index: 1;
}

.dog {
  left: 20px;
}

.fox {
  left: 220px;
}

.cat {
  left: 420px;
}