<div class="header">
  <button class="done" id="done">All Students</button>
</div>
<fieldset>
  <label for="student-name">Student Name</label>
  <input id="student-name" type="text" name="name" value="Ivan Pakkitz">
</fieldset>
<fieldset>
  <label for="student-email">Email</label>
  <input id="student-email" type="text" name="email" value="ivan@pakkitz.com">
</fieldset>
<fieldset>
  <label for="student-phone">Phone Number</label>
  <input id="student-phone" type="text" name="phone" value="555.55.0.5">
</fieldset>
<fieldset>
  <label for="student-location">Current Location</label>
  <input id="student-location" type="text" name="location" value="Cyberspace">
</fieldset>
<fieldset>
  <label for="student-employment">Employment Status</label>
  <input id="student-employment" type="text" name="employment" value="Postal Worker">
</fieldset>
<fieldset>
  <button class="primary" id="save">Save</button>
  <button class="danger" id="remove">Remove</button>
</fieldset>