<h1>Here are the band members:</h1>
<body>
  <ul>
    <li>
      <a href="http://en.wikipedia.org/wiki/Axl_Rose">Axl</a>
    </li>
    <li>
      <a href="http://en.wikipedia.org/wiki/Slash_(musician)">Slash</a>
    </li>
    <li>
      <a href="http://en.wikipedia.org/wiki/Izzy_Stradlin">Izzy</a>
    </li>
    <li>
      <a href="http://en.wikipedia.org/wiki/Duff_McKagan">Duff</a>
    </li>
    <li>
      <a href="http://en.wikipedia.org/wiki/Steven_Adler">Adler</a>
    </li>
  </ul>
</body>

