body {
  background: #4d72c0 url('../images/rainbow.jpg') no-repeat;
  background-size: 100% auto;
  font: 200 16px/1.3 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #213662;
  text-decoration: none;
}

h1, h2 {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

img {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.page {
  margin: 25px auto;
  width: 500px;
}

.page img {
  width: 100%;
}

.nav {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.nav a {
  display: block;
  float: left;
  padding: 10px 20px;
}

.nav a:hover {
  background-color: #eee;
}

.nav a.active {
  background-color: #213662;
  color: #fff;
}
