/*
LAYOUT:
Page width: 960

COLORS:
Green: #5e7630
Gray (light): #f5f5f5
Gray (dark): #707070
Gold (light): #d1b366
Gold (dark): #916800
Beige (light): #f4efdd
Beige (dark): #918f7e

FONTS:
Headers: http://www.google.com/fonts/specimen/Istok+Web
Sans-serif: Helvetica Neue, Helvetica, sans-serif;
Serif: Georgia, Times, serif;
*/