<h1>This is the <%= @venue.name %>. Here are the events at this location.</h1>

<p><%= link_to "Edit this venue?", edit_venue_path(@venue)%></p>
<p><%= link_to "Return to all venues", venues_path %></p>
