body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  background-color: #333;
}

.operation h1{
  left: 0;
  top: 0;
  position: fixed;
  margin: 0 ;
  color: white;
  background: maroon;
  width: 100%;
  z-index: 2;
}

.operation {
  background-color: white;
  margin: 50 auto;
  width: 400px;
}

.chip {
  position: absolute;
}

.chip.breadbasket {
  left: 190px;
  top: 362px;
}

.chip.wishbone {
  left: 190px;
  top: 32px;
}

.chip.butterfly {
  left: 190px;
  top: 62px;
}

.chip.heart {
  left: 90px;
  top: 62px;
}

.operation .board{
position: relative;
}

