This is the about page!
<p>
  My name is Mikael Davis and I AM BUILDING THE INTERNET.
</p>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/puppy">Puppy</a></li>
  <li><a href="/yoga">Yoga</a></li>
</ul>
