<style>
  img {
    height: 300px;
    width: 500px;
  }
</style>

<img src="http://www.consciousconnectionmagazine.com/wp-content/uploads/2013/05/yoga-alliance.jpg">

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/puppy">Puppy</a></li>
  <li><a href="/about">About</a></li>
</ul>
