<h2>Pony Form</h2>
<form action="/ponies" method="post">
	
	<label>
		Name
		<input type="text" name="pony_name">
	</label>

	<label>
		Breed
		<input type="text" name="pony_breed">
	</label>

	<button>Submit</button>
</form>


<h2>Flight Form</h2>
<form action="/Flight" method="post">
	
	<label>
		Depart
		<input type="text" name="depart">
	</label>	

	<label>
		Arrive
		<input type="text" name="arrive">
	</label>
	
	<label>
		Date
		<input type="date" name="date">
	</label>

	<button>Submit</button>
</form>

<h2>Login Form</h2>
<form action="/Pizza" method="post">

	<lable>

		<input type="" name=">
	</label>		
</form>


<!-- <form action="">
  <label for="GET-name">Name:</label>
  <input id="GET-name" type="text" name="name">
  <input type="submit" value="Save">
</form>


<form action="" method="post">
  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" name="name">
  <input type="submit" value="Save">
</form>


<form action="" method="post">
  <fieldset>
    <legend>Title</legend>
    <input type="radio" name="radio" id="radio"> <label for="radio">Click me</label>
  </fieldset>
</form>
 -->
<!-- Login Form 
	Email
	Password

Pizza From
	Size (S,M,L)
	Toppings: (Pepperoni, Mushrooms, Peppers)	
 -->