<h1>Here is <%= @entry.author %></h1>

<a href="/">Home</a>
<br>
<a href="/entries/:id/edit">Edit author</a>
<br>
<a href="/entries/:id/edit">Delete Author</a>
<br><br>
<img src="<%= @entry.photo_url %>" >

