<!DOCTYPE hmtl>
<html lang="en">
  <head>
    <title>Emergency Compliments!</title>
    <link href="../style.css" rel="stylesheet">
  </head>

  <body bgcolor =<%= @background%>>
    <%= yield %>
  </body>
</html>
