
<form action="/pizza_order" method="post">

  <label>
    Small
    <input type="checkbox" name="small_size" value="true">
  </label>
  <label>
    Medium
    <input type="checkbox" name="medium_size" value="true">
  </label>
  <label>
    Large
    <input type="checkbox" name="large_size" value="true">
  </label>

  <label>
    Mushrooms
    <input type="checkbox" name="mushrooms" value="true">
  </label>
  <label>
    Peppers
    <input type="checkbox" name="peppers" value="true">
  </label>
  <label>
    Pepperoni
    <input type="checkbox" name="pepperoni" value="true">
  </label>
  <label>
    Tomatoes
    <input type="checkbox" name="tomatoes" value="true">
  </label>
  <label>
    Pineapple
    <input type="checkbox" name="pineapple" value="true">
  </label>
  <label>
    Onions
    <input type="checkbox" name="onions" value="true">
  </label>



  <button>Submit</button>

</form>
