<!DOCTYPE html>
<html>
<head>
  <title>Cartoons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li><a href="/cartoons">View all 'toons</a></li>
  <li><a href="/cartoons/new">Create a 'toon</a></li>
</ul>
<%= yield %>

</body>
</html>
