<h1>Create a rollercoaster</h1>
<form action="/rollercoasters" method="post">
  <ul>
    <li><label>
      Name:
      <input type="text" name="name">
    </label></li>

    <li><label>
      Top Speed (mph):
      <input type="number" name="top_speed">
    </label></li>

    <li><label>
      Minimum Height (inches):
      <input type="number" name="min_height">
    </label></li>

    <li><label>
      Image URL:
      <input type="text" name="image_url">
    </label></li>

  </ul>
  <button>Create coaster</button>
</form>
<a href="/">Home</a>

