<!--

@Author: stephenstanwood
@Date:   2014-05-14 16:17:07
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-16 07:28:05

 -->

<h2>Creatin' a Book</h2>

<form action="/authors/<%= @author.id %>/books" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >

  <label for="title">Title:</label>
  <input id="title" type="text" name="title">

  <label for="release_date">Release Date:</label>
  <input id="release_date" type="date" name="release_date">

  <label for="genre">Genre:</label>
  <input id="genre" type="text" name="genre">

  <input type="submit" value="Create!">
</form>
