<marquee><h2>Pizza Delivery Services</h2></marquee>

<form action="/pizza" method="get">
  <label>
    Name
    <input type="text" name="name">
  </label>

  <label>
    Address
    <input type="text" name="address">
  </label>

  <label>
    Phone Number
    <input type="tel" name="phone">
  </label>

  <label>
    Desired Delivery Time
    <input type="time" name="name">
  </label>

  <label>
    Pizza Size
    <input list="sizes">
    <datalist id="sizes">
      <option value="Small">
      <option value="Medium">
      <option value="Large">
    </datalist>
  </label>

  <label>
    Pizza Toppings
    <input type="text" name="toppings">
  </label>

  <label>
    Toy
    <input type="text" name="toy">
  </label>
  <button>Submit</button>
</form>


# Flight
# text for name/locations, date, time, email, password, tel,
