<h1>Music is coming</h1>

<form>
  <fieldset>
    <legend>Search for a song</legend>
    <label>
      <input type="text" name="artist" placeholder="artist">
      <input type="text" name="song" placeholder="song">
      <input type="submit" value="Search">
    </label>
  </fieldset>
</form>

<ul>
  <li>
    <audio controls>

    </audio>
    <span>&times;</span>
  </li>
</ul>
