<h1>Create a koopa!</h1>
<form action="/koopas" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>

  <label>
    Color:
    <input type="text" name="color">
  </label>

  <label>
    Has Shell?:
    <input type="checkbox" name="has_shell">
  </label>

  <label>
    Image URL:
    <input type="text" name="photo_url">
  </label>

  <button>Let's a go!</button>

</form>
