<div id="vending-app" class="vending">
  <h1>WDI Brain Fuel</h1>
  <noscript>Sorry, this application requires JavaScript</noscript>

  <div class="vending-inventory">
    <h2 class="visuallyhidden">Available Products</h2>
    <ul class="products" id="products">
      <li class="product">
        <span class="code">A1</span>
        <span class="name">Cola</span>
        <span class="price">$1.50</span>
        <span class="quantity">10</span>
      </li>
      <li class="product">
        <span class="code">A2</span>
        <span class="name">Dr.Pepper</span>
        <span class="price">$1.50</span>
        <span class="quantity empty">0</span>
      </li>
    </ul>

    <h2 class="visuallyhidden">Your Purchases</h2>
    <a href="#" class="purchases" id="purchases" title="Take your purchases.">
      <ul>
        <li>Cola</li>
        <li>Dr. Pepper</li>
      </ul>
    </a>
  </div>

  <div class="vending-controls">
    <div class="message" id="message">
      Credit: $0.00<br>
      Selection: A1
    </div>

    <form class="credit" id="credit">
      <h2>Add Credit</h2>
      <ul>
        <li class="col-66">
          <input type="text" name="credit" placeholder="Insert Cash">
        </li>
        <li class="col-33">
          <a href="#" class="btn" id="refund">Refund</a>
        </li>
      </ul>
    </form>

    <div class="keypad" id="keypad">
      <h2>Make Your Selection</h2>
      <ul>
        <li class="col-33"><button class="btn" data-key="a">A</button></li>
        <li class="col-33"><button class="btn" data-key="b">B</button></li>
        <li class="col-33"><button class="btn" data-key="c">C</button></li>
        <li class="col-33"><button class="btn" data-key="1">1</button></li>
        <li class="col-33"><button class="btn" data-key="2">2</button></li>
        <li class="col-33"><button class="btn" data-key="3">3</button></li>
        <li class="col-66"><button class="btn" data-key="clear">Clear</a></li>
      </ul>
    </div>

    <div class="change">
      <h2>Take Your Change</h2>
      <a href="#" id="change" title="Take your change.">$0.50</a>
    </div>
  </div>
</div>

<%= requirejs_include_tag %>
<script>
  require.config({urlArgs: 'bust='+Date.now()});
  require(['vending/main']);
</script>
