<form action="/flight_booker" method="post">
  <label>
    Origin
    <input type="text" name="origin">
  </label>

  <label>
    Departing Date
    <input type="date" name="travel_date">
  </label>

  <label>
    Destination
    <input type="text" name="destination">
  </label>

  <button>Submit</button>

</form>
