<form action="/login" method="post">
  <label>
    Email Address
    <input type="email" name="email_address" inputmode="verbatim">
  </label>

  <label>
    Password
    <input type="password" name="password" inputmode="verbatim">
  </label>

  <button>Submit</button>

</form>
