<h1>Add a Koopa!</h1>
<form action="/" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>

  <label>
    Has a shell?:
    <input type="checkbox" name="has_shell">
  </label>

  <label>
    Photo url:
    <input type="text" name="photo_url">
  </label>
  <button>Add this Koopa</button>
</form>
