<h1>Create a clown</h1>

<form action="/clowns" method="post">
    <label for="Name">
      <input type="text" name="name" placeholder="Name?">
    </label>

    <label for="Talent">
      <input type="text" name="talent" placeholder="Talent?">
    </label>

    <label>
      Creepy?
      <input type="checkbox" name="is_creepy">
    </label>

    <label for="Image URL">
      <input type="text" name="image_url" placeholder="Image URL?">
    </label>

    <button>Create this clown!</button>

</form>
