<h1 style="color: red; font-size: 40px;">Richard Hessler is the back end of the human centipede</h1>
<div style="text-align: center; margin: 0 auto;"><img src="https://scontent-b-ord.xx.fbcdn.net/hphotos-prn1/t1.0-9/73735_10101708211028251_780887255_n.jpg"></div>
<audio src="04 Because You Love Me.mp3" autoplay>~Richard~<audio>
