<!--

@Author: stephenstanwood
@Date:   2014-05-12 15:43:56
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-12 18:40:14

 -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Koopa Koopa Koopa</title>
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/koopas/new">New</a></li>
    <li><a href="/koopas">List</a></li>
  </ul>

  <%= yield %>
</body>
</html>
