<!--

@Author: stephenstanwood
@Date:   2014-05-12 11:48:46
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-12 12:14:23

 -->

<!-- <h2>Pony Form</h2>

<form action="/ponies" method="get">
  <label>Name<input type="text" name="name"></label><br />
  <label>Breed<input type="text" name="breed"></label><br />

  <br /><button>Submit</button>
</form> -->

<h2>Flight Form</h2>

<form action="/flight" method="get">
  <label>Origin
    <select name="origin">
      <option value="DCA">DCA</option>
      <option value="IAD">IAD</option>
      <option value="SFO">SFO</option>
    </select>
  </label>

  <label>Destination
      <select name="destination">
      <option value="DCA">DCA</option>
      <option value="IAD">IAD</option>
      <option value="SFO">SFO</option>
    </select>
  </label>

  <label>Date<input type="date" name="date"></label>

  <button>Submit</button>
</form>

<h2>Pizza Form</h2>

<form action="/pizza" method="get">
  <label><input type="radio" name="size" value="small">Small</label><br />
  <label><input type="radio" name="size" value="medium">Medium</label><br />
  <label><input type="radio" name="size" value="large">Large</label><br /><br />

  <label><input type="checkbox" name="toppings" value="pepperoni">Pepperoni</label><br />
  <label><input type="checkbox" name="toppings" value="sausage">Sausage</label><br />
  <label><input type="checkbox" name="toppings" value="ham">Ham</label><br />
  <label><input type="checkbox" name="toppings" value="olives">Olives</label><br />
  <label><input type="checkbox" name="toppings" value="onions">Onions</label><br />
  <label><input type="checkbox" name="toppings" value="peppers">Peppers</label><br />

  <br /><button>Submit</button>
</form>

<h2>Login Form</h2>

<form action="/login" method="get">
  <label>Username<input type="text" name="username"></label><br />
  <label>Password<input type="password" name="password"></label><br />

  <br /><button>Submit</button>
</form>
