<h1>Songs</h1>

<form>
  <fieldset>
    <legend>New Song</legend>
    <label>
      Title
      <input type="text" name="title" id="search">
      <input type="submit" value="Save">
    </label>
  </fieldset>
</form>
