<h1>Create a coaster</h1>

<form action="/coasters" method="post">
    <label for="Name">
      <input type="text" name="name" placeholder="Name?">
    </label>

    <label for="max_height">
      <input type="text" name="max_height" placeholder="Max Height?">
    </label>

    <label for="top_speed">
      <input type="text" name="top_speed" placeholder="Top Speed?">
    </label>


    <label for="Image URL">
      <input type="text" name="image_url" placeholder="Image URL?">
    </label>

    <button>Create this coaster!</button>

</form>
