<h1>WELCOME! These are the best places to make money with your newfound Ruby skillz!</h1>
<hr>
<style>
  .button {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 100px;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
  .big-btn {
      width: 900px;
      height: 400px;
  }
</style>
<a href="/cities"><div class="button big-btn">$CLICK HERE TO SEE!!!$!$$!$!!</div></a>
