<!DOCTYPE html>
<html>
<head>
  <title>WinterIsComing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=MedievalSharp">
</head>
<body>

<%= yield %>

</body>
</html>
