<!--

@Author: stephenstanwood
@Date:   2014-05-12 14:02:14
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-12 14:13:17

 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <%= yield %>

  </body>
</html>
