<!--

@Author: stephenstanwood
@Date:   2014-06-10 11:41:55
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-06-10 15:27:23

 -->

<h1>Winter is Coming</h1>

<form>
  <fieldset>
    <legend>New Character</legend>
    <label>
      Name
      <input type="text" name="name">
      <input type="submit" value="save">
    </label>
  </fieldset>
</form>

<ul>
  <% @characters.each do |character| %>
    <li data-character-id='<%= character.id %>' class='<%= character.dead ? 'dead' : ''  %>'>
      <%= character.name %>
      <%= check_box_tag :dead, 'yes', character.dead %>
      <span>&hearts;</span>
    </li>
  <% end %>
</ul>
