
.theBox {
	width: 468px;
	height: 468px;
    border-style: solid;
    border-color: red;
    background-color: yellow;
}

.allCellsAlways {
    width: 150px;
	height: 150px;
	display: inline-block;
    float: left;
    margin: 0px ;
    padding: 0px ;
    border-style: solid;
    border-color: blue;
}

.xclass {
	background-color: red ;
}

.oclass {
	background-color: blue ;
}

.blankclass {
	background-color: gray ;
}


  

