<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Game Lookup Test</title>
</head>
<body>
  <style>
  body {
    background-color: #000;
  }

    .center {
      background-color: #fff;
      border: 8px solid #000;
      border-radius: 45px;
      color: #000;
      margin: 0 auto;
      margin-top: 20%;
      text-align: center;
      width: 60%;
    }
    .center h1 {
      font-weight: bold;
      text-decoration: underline;
    }
  </style>
  <div class="center">
  <h1> Game Lookup App </h1>
  <%= yield %>
</div>
</body>
</html>
