body {
  color: #fff;
  text-align:left;
  font-family: 'Arial';
  font-size: 24px;
  margin: 40px;
}

h1 {
  font-size: 16px;
  padding-bottom: 50px;
  color: black;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 90px;
  line-height: 90%;
}

form {
  font-size: 14px;
  font-family: 'Arial';
  height: 40px;
}

button {
  border: none;
  color: white;
  background-color: black;
}
