<h1>
  <%= @bottles %> bottle
  <% if @plural %>s<% end %>
   of beer on the wall,
   <%= @bottles %> bottle
   <% if @plural %>s<%end%>
    of beer
</h1>
<a href="/refrain/<%= @bottles %>" class="yes">Next...</a>
<a href="/" class="no">Stop</a>
