<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Emergency WDI Compliment</title>
    <style type="text/css">
      body {
        background-color: #FFBF00;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
