<!--

@Author: stephenstanwood
@Date:   2014-05-14 15:28:35
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-14 15:30:12

 -->

<h2>Here a cat</h2>

<h3><%= @cat.name %></h3>
<img class="cat_pic" src="<%= @cat.image_url %>" alt="">
