body {
  background-color: gray;

  background-image: url(http://media-cache-ak0.pinimg.com/736x/93/23/a9/9323a93a0b591c8643e444acf8ea5aea.jpg);

  /*font: 14px/1.4em Arial, Helvetica, sans-serif;*/

  font-family: Helvetica, Arial, sans-serif;

  font-size: 14px;

  line-height: 1.4em;
}

.container {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 600px;
}

.container h1 {
  background-color: red;
  border: 1px solid red;
  color: white;
  height: 120px;
  line-height: 120px;
  margin-bottom: 20px;
  padding: 10px;
}

.container h2 {
  color: red;
  font-weight: bold;
  font-style: italic;
}

img {
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

ul {
  list-style-type: disc inside none;
}
