<h1>Create a koopa</h1>
<form action="/koopa" method="post">
  <label>Name:
    <input type="text" name="name">
  </label>
  <label>Color:
    <input type="text" name="color">
  </label>
  <label>Is this koopa shelled?
    <input type="checkbox" name="has_shell">
  </label>
  <label>koopapic:
    <input type="text" name="image_url">
  </label>
  <button class="btn btn-success">Create koopa</button>
</form>
