<h1>Welcome to the jungle!</h1>

<img src="http://www.cartoonaday.com/images/cartoons/2012/07/Jungle-illustration-fnl-B-598x398.jpg">

<p>Explore the links below:</p>
<ul>
  <li>
    <a href="/photo">Photo Page</a>
  </li>
  <li>
    <a href="/poems">Poems</a>
  </li>
  <li>
    <a href="/about">About</a>
  </li>
</ul>
