body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  background-color: #333;
}

.operation{
  background-color: #fff;
  margin: 0 auto;
  width: 400px;
}

.operation h1{
  background-color: #c00;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.operation .board{
  position: relative;
  z-index: 1;
}

.chip{
  position: absolute;
}

.chip.breadbasket{
  left: 190px;
  top: 300px;
}

.chip.butterflies{
  left: 215px;
  top: 190px;
}

.chip.wishbone{
  left: 170px;
  top: 50px;
}

.chip.heart{
  left: 236px;
  top: 77px;
}
