<!--

@Author: stephenstanwood
@Date:   2014-05-12 15:43:56
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-12 16:18:56

 -->

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Roller Coasters!!!</title>
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/coasters/new">New</a></li>
    <li><a href="/coasters">List</a></li>
  </ul>

  <%= yield %>
</body>
</html>
