<h1>Rollercoaster Maker</h1>
<form action="/rollercoasters" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>

  <label>
    Minimum Height to ride, feet:
    <input type="number" name="feet">
  </label>
  <label>
    and inches:
    <input type="number" name="inches">
  </label>

  <label>
    Top Speed in mph:
    <input type="number" name="speed">
  </label>

  <label>
    Image url:
    <input type="text" name="image_url">
  </label>
  <button>Create Rollercoaster!</button>
</form>
