<!DOCTYPE html>
<html>
<head>
  <title>Mapapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMROU-PLSdzOjhnwaVYWR9YWz7f-a_IY0">
    </script>
</head>
<body>

<%= yield %>


    <script type="text/javascript">

      function initialize() {

      	var style = [{"stylers":[{"saturation":100},{"hue":"#fff700"}]},{"featureType":"landscape","stylers":[{"color":"#ffdd00"}]},{"featureType":"water","stylers":[{"color":"#718098"},{"saturation":-35},{"lightness":20}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"labels.text","stylers":[{"color":"#ffdd00"},{"lightness":-38}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"color":"#ffdd00"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","stylers":[{"weight":0.7}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]}]

      	var places = [
	      	{
	      		lat: -25.363882,
	      		lng: 131.044922,
	      		title: "Marker 1!"

	      	},
	      	{
	      		lat: -35.363882,
	      		lng: 131.044922,
	      		title: "Marker 2!"

	      	},
	      	{
	      		lat: -45.363882,
	      		lng: 131.044922,
	      		title: "Marker 3!"

	      	},
	      	{
	      		lat: -55.363882,
	      		lng: 131.044922,
	      		title: "Marker 4!"

	      	}
      	];

      	var myLatlng = new google.maps.LatLng(places[0].lat,places[0].lng);

        var mapOptions = {
          center: myLatlng,
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
    		styles: style
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);


        for (var i = 0; i < places.length; i++) {
	        var marker = new google.maps.Marker({
			    position: new google.maps.LatLng(places[i].lat,places[i].lng),
			    map: map,
			    title:places[i].title
			});
		};
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div id="map-canvas"/>





</body>
</html>
