<h1>Add an author</h1>

<form action="/authors" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
  <label>
    Name:
    <input type="text" name="name">
  </label>

  <label>
    Birthday:
    <input type="date" name="birth">
  </label>

  <label>
    Gender:
    <input type="text" name="gender">
  </label>

  <label>
    Pseudonym:
    <input type="text" name="has_pseudonym">
  </label>

  <input type="submit" name="Add Author" redirect="/authors">

</form>
