Robotech Fan Site!
<br>
<img src="http://geekshizzle.com/wp-content/uploads/2013/07/robotech-rick-hunter-cockpit.jpg">

<br>
<a href="/robotech_wars">Robotech Wars Video</a>
<br>
<a href="/about">About</a>
