<!DOCTYPE html>
<html>
<head>
  <title>Railscafe5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>WELCOME TO THE MAGNIFICENT RAILSCAFE 5 YES 5</h3>

<%= yield %>

</body>
</html>
