<h2>Pony Form</h2>
<form action="/pony" method="post">

  <label>
    Name
    <input type="text" name="name"
  </label>

  <label>
   Breed
    <input type="text" name="breed"
  </label>

  <button>Submit</button>
</form>

<h2>Flight Form</h2>
<form action="/flight" method="post">

  <label>
   Depart
    <input type="time" name="depart"
  </label>

  <label>
   Arrive
    <input type="time" name="arrive"
  </label>

  <label>
   Date
    <input type="date" name="date"
  </label>

  <button>Fly!</button>
</form>



<h2>Login Form</h2>
<form action="/login" method="post">

  <label>
    Email
    <input type="email" name="email"
  </label>

  <label>
   Password
    <input type="password" name="password"
  </label>

  <button>Login</button>
</form>


<h2>Pizza Form</h2>
<form action="/pizza" method="post">

Size<br>
  <label>
    <select>
      <option value="small" name="size">Small</option>
      <option value="medium" name="size">Medium</option>
      <option value="large" name="size">Large</option>
    </select>
  </label>

Toppings<br>
  <label>
    Pepperoni<input type="checkbox" name="pepperoni">
     Mushrooms<input type="checkbox" name="mushrooms">
      Peppers<input type="checkbox" name="peppers">
  </label>



  <button>Send Order!</button>
</form>

