<form action='/ponies' method='post'>

  <label for="Email">
    <input type="email" name="email" placeholder="Email">
  </label>

  <label for="Password">
    <input type="password" name="password" placeholder="Password">
  </label>

  <button>Submit</button>
</form>

<h2>Flight Form</h2>
<form action="/flights" method="post">
  <label for="Depart">
    <input type="text" name="origin" placeholder="Departure">
  </label>
  <label for="Arrival">
    <input type="text" name="destination" placeholder="Arrival">
  </label>
  <label for="Date">
    <input type="date" name="date">
  </label>
  <button>Submit</button>
</form>


<h2>Pizza Form</h2>
<form action="/pizzas" method="post">
  <label for="size">
    <input type="radio" name="size">Small
    <input type="radio" name="size">Medium
    <input type="radio" name="size">Large
  </label>
  <br>
  <br>
  <label for="Toppings">
     <input type="radio" value="topping" name="top1">Spinach
    <input type="radio" value="topping" name="top2">Mushrooms
    <input type="radio" value="topping" name="top3">Peppers
    <br>
    <br>
  <button>Submit</button>
</form>



