<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Random Compliment</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body style="background-color:<%= @colors.sample %>">

    <%= yield %>

  </body>
</html>
