
<style>
body{ background-image:url("http://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Lion_tamer_(LOC_pga.03749).jpg/1280px-Lion_tamer_(LOC_pga.03749).jpg")
</style>
<h1>Welcome to the Circus!</h1>
