<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Child Clowns</title>
  <link href="../style.css" rel="stylesheet">
</head>
<body>
  <h1><a href="/clowns">Clowns for Rent</a></h1>
  <%= yield %>
</body>
</html>
