# Overview
==========
You are the manager at HappiTails animal shelter. You want an app to manage your clients, and the animals.

## Tasks
========

* Manage the clients coming into the shelter. Track their names, ages, gender, kids and the number of pets they have.
* Manage the animals. Track their names, breed, age, gender and their favorite toys.
* A client will want to come and see the list of available animals to adopt
* A client will want to come in and give up their animal for adoption
* A manager will want to list the animals in the shelter
* A manager will want to list the clients

