<h1>Edit an existing entry</h1>

<form action="/entries" method="post">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

<label>Author:<input type="text" name="author" value="<%= @entry.author %>"></label>
<label>Photo URL:<input type="text" name="photo_url" value="<%= @entry.photo_url %>"></label>
<label>Date Taken:<input type="date" name="date_taken" value="<%= @entry.date_taken %>"></label>

<input type="submit" value="Edit entry">

</form>
