<h1> Create a Roller Coaster.</h1>

<form action="/coasters" method="post" >


  <label>
    Name:
    <input type="text" name="name">
  </label>

<label>
    Top speed:
    <input type="text" name="top_speed">
</label>

<label>
    Minimum height to ride:
    <input type="text" name="min_height">
</label>

<label>
    Image URL :
    <input type="text" name="image_url">
</label>

    <button>SUBMIT COASTER!</button>

</form>
