<form action="ponies" method="post">

<!-- Pizza Delivery -->
<h1>Pizza Delivery</h1>
<form action="/booking" method="post">
  <label>
    First Name
    <input type="text" name="name">

  </label>
    <label>
    Last Name
    <input type="text" name="name">
  </label>
<br>
  <label>
    Phone
    <input type="tel" phone="usrtel">
  </label>
<br>
  <label>
    Login
    <input type="email" e-mail="e-mail">
  </label>

  <label>
    Password
    <input type="password" password="password">
  </label>
<br>
  <label>
    <input type="radio" name="small" value="small">Small
    <input type="radio" name="medium" value="medium">Medium
    <input type="radio" name="large" value="large">Large
  </label>
<br>
  <button>Submit</button>
</form>


<h1>Flight Booking</h1>
<form action="/booking" method="post">
  <label>
    First Name
    <input type="text" name="name">
  </label>
    <label>
    Last Name
    <input type="text" name="name">
  </label>
<br>
  <label>
    Date
    <input type="date" date="date">
  </label>

    <label>
    Departure Time
    <input type="time" arr_time="time">
  </label>

    <label>
    Arrival Time
    <input type="time" dep_time="time">
  </label>
<br>
  <button>Submit</button>
</form>

<h1>Website Login</h1>
  <label>
    Username
    <input type="text" user="username">
  </label>
<br>
  <label>
    Password
    <input type="password" password="password">
  </label>
<br>
  <button>Submit</button>
