<h1>Enter a Rollercoaster</h1>

<form action="/coaster_pages" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>

  <label>
    Top Speed:
    <input type="text" name="min_height">
  </label>
<br>
  <label>
    Minimum Height:
    <input type="text" name="top_speed">
  </label>

  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>
<br>
  <button>Submit Coaster</button>
</form>
