<h1>Bands</h1>

<ul>
  <% @bands.each do |band| %>
  <!-- band refers to the model -->
    <li><%= link_to band.name, band %></li>
  <% end %>
</ul>

<!-- Add a band -->
<p><%= link_to "Add a band", new_band_path %></p>
