<h1>Create a Clown</h1>
<form action="/clowns" method="post">
  <label>Name:
    <input type="text" name="name">
  </label>
  <label>Talent:
    <input type="text" name="talent">
  </label>
  <label>Is this clown creepy?
    <input type="checkbox" name="is_creepy">
  </label>
  <label>Clownpic:
    <input type="text" name="image_url">
  </label>
  <button>Create Clown</button>
</form>
