<!--

@Author: stephenstanwood
@Date:   2014-05-20 18:49:38
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-20 18:52:13

 -->

<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
