<!--

@Author: stephenstanwood
@Date:   2014-05-09 16:33:17
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-09 16:54:47

 -->

<body style="color: white; background-color: <%= COLORS.sample %>">
  <p>Hey, <%= @name %>! <%= COMPLIMENTS.sample %></p>
</div>
