<!--

@Author: stephenstanwood
@Date:   2014-05-09 16:33:02
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-09 16:56:20

 -->

<!DOCTYPE html>
<html lang="en">
  <head><meta charset="utf-8">
    <title>The Ultimate Compliment!</title>
    <style>
      body { font-size: 64px; text-align: center }
    </style>
  </head>
  <%= yield %>
</html>
