<!DOCTYPE html>
<html lang="en">

  <head>
    <title>WDI Compliment</title>
    <link href="/style.css" rel="stylesheet">

  </head>
  <body style="background-color: <%= @sample%>">
  </body>

    <%= yield %>

</html>
