<form action="/models" method="post">
  <input name="authenticity_token" type="hidden" value="<% form_authenticity_token %>" >
  <label>
    Name:
    <input type="text" name="name">
  </label>

  <label>
    Age:
    <input type="text" name="age">
  </label>

  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>

  <button>Submit</button>
</form>

<button>What?</button>
