<form action="/ponies" method="post">

  <label>
    Name
    <input type="text" name="name">
  </label>

  <label>
    Breed
    <input type="text" name="breed">
  </label>
  <button>Submit</button>
</form>

<h2>Flight Form</h2>
<form action="/flight" method="post">
  <label>
    Origin
    <input type="text" name="location">
  </label>

  <label>
    Destination
    <input type="text" name="arrival">
  </label>

  <label>
    date
    <input type="date" name="date">
  </label>
  <button>Submit</button>
</form>
<h2>Login Form</h2>
<label>
  Email
  <input type="email" name="login">
</label>

<label>
  Password
  <input type="password" name="password">
</label>

<h2>Pizza delivery<h2>
  <label>
    Size
    <input type="radio" name="size" value="small"/> Small<br/>
    <input type="radio" name="size" value="medium"/> Medium<br/>
    <input type="radio" name="size" value="large"/> Large<br/>
  </label>

  <label>
    Toppings
    <input type="checkbox" name="toppings">
  </label>
