
body {
	background: #F3EBE9;
  background-image: url("../images/pattern1.png");
  font-size: 14px;
  font-family: "Times New Roman", serif;
  font-color: black;
}
/*
h1 {
  color: #FFFFFF;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
	text-transform: uppercase;
	font-family: cursive, Helvetica, sans-serif;
}

img {
  border: 1px solid black;
  background-color: white;
  margin: 2px;
  padding: 2px;
}
*/
.page {
  background-color: #ffffff;
  margin: 0 auto;
  width: 980px;
}

.page .header {
  background-color: salmon;
  padding: 15px;
}

.page .header h1 {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}

.page .main {
  padding: 15px;
}

.page h2 {
  margin: 10px 0;
  text-decoration: underline;
  text-transform: uppercase;
}

.page p {
  margin: 10px 0;
}

.page .photo-list {
  overflow: auto;
}

.page .photo-list li {
  float: left;
  text-align: center;
  width: 25%;
}

.page .photo-list img {
  border: 5px solid #ccc;
}

.page .footer {
  background-color: salmon;
  color: #fff;
  padding: 15px;
  text-align: right;
}
