<h1>Create a Koopa!</h1>

<form action="/koopas" method="post">
    <label for="Name">
      <input type="text" name="name" placeholder="Name?">
    </label>

    <label for="Color">
      <input type="text" name="color" placeholder="Color?">
    </label>

    <label>
      Does your Koopa have a shell?
      <input type="checkbox" name="has_shell">
    </label>

    <label for="Photo URL">
      <input type="text" name="photo_url" placeholder="Photo URL?">
    </label>

    <button>Create this Koopa!</button>

</form>
