<h1>Concertify</h1>

<ul>
  <li><a href="/venues">Search concerts by Venue</a></li>
  <li><a href="/bands/new">Add a new band</a></li>
  <li><a href="/venues/new">Add a new venue</a></li>
  <li><a href="/events/search">Search by event</a>
</ul>
