<h1>Create your koopa here!</h1>
<form action="/koopas" method="post">

  <label>
    Name:
    <input type="test" name="name">
  </label>

  <label>
    Color:
    <input type="text" name="color">
  </label>

  <label>
    Has Shell?
    <input type="checkbox" name="has_shell">
  </label>

  <label>
    Image:
    <input type="text" name="photo_url">
  </label>

  <button>Create</button>

</form>
