<h1>Dynamic#index</h1>
<p>Find me in app/views/dynamic/index.html.erb</p>

<div ng-app="accountManager">

	<div ng-controller="AccountCtrl as account">
		{{ account.test }}
		<ul>
			<li ng-repeat="account in accounts">
				{{ account.owner_name }}
				{{ account.ig_account }}
				{{ account.engagement }}
			</li>
		</ul>
		
	</div>

</div>