
<h2>Pony Form</h2>
<form action="/ponies" method="post">
  <label>
    Name
    <input type="text" name="name">
  </label>

  <label>
    Breed
    <input type="text" name="breed">
  </label>
  <button>Submit</button>
</form>

<h2>Flight Form</h2>
<form action="/flight_finder" method="post">
  <label>
    Departure City
    <input type="text" name="depart_city">
  </label>
  <label>
    Departure State
    <input type="text" name="depart_state">
  </label>

   <label>
    Arrival City
    <input type="text" name="arrive_city">
  </label>
  <label>
    Arrival State
    <input type="text" name="arrive_state">
  </label>

  <label>
    Date & Time
    <input type="date" name="depart_date">
  </label>
  <button>Submit</button>
</form>

<h2>Website Login</h2>
<form action="/login" method="post">
  <label>
    Username
    <input type="text" name="username">
  </label>
  <label>
    Password
    <input type="password" name="password">
  </label>
  <button>Submit</button>
</form>

<h2>Pizza Delivery</h2>
<form action="/pizza" method="post">

  <label>
    Size
    <select name="size">
      <option value="Small">Small</option>
      <option value="Medium" selected>Medium</option>
      <option value="Large">Large</option>
    </select>
  </label>

  <label>
    Toppings
    <input type="checkbox" value="Mushrooms">Mushrooms</input>
    <input type="checkbox" value="Onions">Onions</input>
    <input type="checkbox" value="Olives">Olives</input>
  </label>

  <button>Submit</button>

</form>


