<h1>I'll make my own frontpage, with blackjack and hookers</h1>

<form>
  <fieldset>
    <legend>Submit a Link</legend>

    <label>
      URL
      <input type='text' name='url' />
    </label>

    <button>Submit</button>
  </fieldset>
</form>

<div id='link-list'>
  </div>
