<div class="toolbar" id="toolbar">
  <h1>Watch.io</h1>

  <h2>Find Movies</h2>
  <div class="search" id="search">
    <form>
      <input type="search" name="search" placeholder="Search for a movie...">
      <button>Search</button>
    </form>
    <label class="search-results" id="search-results">
      Search Results
      <select name="search-results">
        <option value="tt1375666">Inception</option>
        <option value="tt1790736">Inception: Motion Comics</option>
        <option value="tt2160855">How Inception Should Have Ended</option>
      </select>
    </label>
  </div>

  <h2>My Movie Watchlist</h2>
  <ul class="watchlist" id="watchlist">
    <li><a href="#movies/tt0372784">Batman Begins</a></li>
    <li><a href="#movies/tt0468569">The Dark Knight</a></li>
    <li><a href="#movies/tt1345836">The Dark Knight Rises</a></li>
  </ul>

</div>
<div class="main" id="main">
  <noscript>This application requires JavaScript.</noscript>
</div>

<%= requirejs_include_tag %>
<script>
  require.config({urlArgs: 'bust='+ Date.now()});
  require(['watchio/main']);
</script>
