<ul class='menubar'>
  <li class=''><a href="#" class=''>option 1</a></li>
  <li class=''><a href="#" class=''>option 2</a>
    <ul>
      <li class=''><a href="#" class=''>sub-option 3</a></li>
      <li class='is-selected'><a href="#" class=''>sub-option 4</a></li>
    </ul>
  </li>
  <li class=''><a href="#" class=''>option 5</a></li>
  <li class=''><a href="#" class=''>option 6</a></li>
</ul>

