<h1><%= @bottles %> bottle<%= @plural >%>s<% end %> of Beer on the wall, <%= @bottles %> bottles of beer</h1>	
<a href="/refrain/"<%= @bottles %>" class="yes">Next...</a>
<a href="/" class="no">Stop</a>