<div class="students-app">
  <!-- The Students List Template -->
  <div class="students-list">
    <%= render 'list_template' %>
  </div>
</div>

<div class="students-app">
  <!-- The Students Detail Template -->
  <form class="student-detail">
    <%= render 'detail_template' %>
  </form>
</div>
