

<form action="<%= search_results_path %>" method="get">
  <label>
  <input type="text" name="movie" placeholder="Enter Movie Title">
  <input type="submit" value="Submit">

  <%= @response %>
  </label>
</form>
