
<h2>Ingredient Details</h2>

<div class="container2"> 

  <h2>
    <%= @ingredient.name %>
  </h2>

  

 
  <h3>Recipes:</h3>
  <% @ingredient.ingredients_recipes.each do |ingredients_recipe| %>
    <%= ingredients_recipe.quantity %> on <%= ingredients_recipe.recipe.try(:name) %><br>
  <% end %>

  

</div>  