<h1>Add an Author Here</h1>


<form action="/authors" method="post">
  <input name="authenticity_token" type="hidden" value="<%form_authenticity_token%>"

    <label for="name-attribute">Name:</label>
  <input id="name-attribute" type="text" name="name">

    <label for="dob-attribute">Date of Birth:</label>
  <input id="dob-attribute" type="date" name="dob">

    <label for="gender-attribute">Gender:</label>
  <input id="gender-attribute" type="text" name="gender">

    <label for="pseudo-attribute">Pseudonym?</label>
  <input id="pseudo-attribute" type="checkbox" name="has_psuedonym">

  <input type="submit" value="Authorize!">

</form>
