<h1> Welcome to the Roller Coaster site!</h1>

<form action="/coasters">
  <button>SEE ALL COASTERS</button>
</form>

<form action="/coasters/new">
  <button>ADD A COASTER</button>
</form>

<form action="/coasters/edit">
  <button>EDIT or DELETE A COASTER</button>
</form>
