<h1>Create a new toy</h1>

<form action="/dogs/<%= @dog_id %>/toys" method="post">
  <input name="authenticity_token" type="hidden" value="<% form_authenticity_token %>" >
  <label for="name-attribute">Name:</label>
  <input id="name-attribute" type="text" name="name">

  <label for="photo-url-attribute">photo url:</label>
  <input id="photo-url-attribute" type="text" name="photo_url">

  <input type="submit" value="Create toy">

</form>
