<div id="students-container" class="students-app">
  <noscript>
    <!-- This "noscript" content displays for users without JavaScript. -->
    <p>Sorry, this application requires JavaScript.</p>
  </noscript>
</div>

<script type="template" id="students-list">
  <%= render 'list_template' %>
</script>

<script type="template" id="student-detail">
  <%= render 'detail_template' %>
</script>