<!--

@Author: stephenstanwood
@Date:   2014-05-09 18:30:05
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-09 18:58:05

 -->

<p><%= @prompt %></p>
<a href="<%= @done %>" class="done">DONE</a>
