<!--

@Author: stephenstanwood
@Date:   2014-05-09 18:21:45
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-09 18:33:40

 -->

<!DOCTYPE html>
<html lang="en">
  <head><meta charset="utf-8">
    <title>Pair Programming Bot</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>

    <%= yield %>

  </body>
</html>
