<!doctype html>
<link rel="stylesheet" type="text/css" href="/style.css">
<html>
  <head>
    <title>Pair Programming Bot</title>
  </head>
  <body>
      <h1>
  Need to refactor?
</h1>

<a class="yes" href=/do_refactor> YES </a>
<a class="no" href=/new_feature> NO </a>


  </body>
</html>
