<!--

@Author: stephenstanwood
@Date:   2014-05-16 10:11:56
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-16 21:31:42

 -->

<h1>Edit <%= @venue.name %></h1>

<!-- Edit -->
<%= render "manage_form" %>

<!-- Delete -->
<%= form_for @venue, method: "delete" do |f| %>
  <%= f.submit "Delete" %>
<% end %>
