<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>WDI Stock App</title>
    <link rel='stylesheet' href='/style.css'>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>Welcome to WDI stock quotes</h1>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <p>@Copyright WDI Finance</p>      
      </footer>
    </div>
  </body>
</html>