<h2>Ponies</h2>
  <form action="/ponies" method="post">
    <label>
      Name
      <input type="text" name="name">
    </label>

    <label>
      Breed
      <input type="text" name="breed">
    </label>

    <button>Submit</button>
  </form>

<h2>Pizza</h2>
  <form action="/pizza" method="post">
    <label>
      Size
      <input type="text" name="size">
    </label>

    <label>
      Toppings
      <input type="text" name="toppings">
    </label>

    <button>Submit</button>
  </form>

<h2>Login</h2>
  <form action="/login" method="post">
    <label>
      Email
      <input type="email" name="email">
    </label>

    <label>
      Password
      <input type="password" name="password">
    </label>

    <button>Submit</button>
  </form>


<h2>Flight</h2>
  <form action="/booking" method="post">
  <label>
    Departure City
    <input type="text" name="departure">
  </label>

  <label>
    Arrival City
    <input type="text" name="arrival">
  </label>

  <label>
    Departure Date, Time
    <input type="date" name="dep_date_time">
  </label>

  <button>Submit</button>
</form>
