<!--

@Author: stephenstanwood
@Date:   2014-05-21 11:50:29
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-21 12:30:28

 -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Stock Lookup App</title>
</head>
<body>
  <h1> Stock Lookup App</h1>
  <%= yield %>
</body>
</html>
