<h1>Edit a new city...</h1>

<form action="/cities" method="patch">
  <input name="authenticity_token" type="hidden" value="<% form_authenticity_token %>">

  <label>
    City Name:
    <input type="text" name="name" value="<%= @city.name %>">
  </label>

  <label>
    Average Starting Salary:
    <input type="integer" name="avg_salary" value="<%= @city.avg_salary %>">
  </label>

  <label>
    City Image URL:
    <input type="text" name="image_url" value="<%= @city.image_url %>">
  </label>

  <input type="submit" value="Edit City!">

</form>

