<h1>This is <%= @city.name %>, where the average starting salary for Ruby developers is $<%= @city.avg_salary %>.</h1>
<img src="<%= @city.image_url %>">
<a href="/cities"><button>Back to all cities.</button></a>
