<!-- #============================#
#===========Ponies===========#
#============================#
 -->
<h2>Ponies</h2>
<form action="/ponies" method="post">
  <label>
    Name
    <input type="text" name="name">
  </label>
<br>
  <label>
    Breed
    <input type="text" name="breed">
  </label>
<br>
  <button>Submit</button>
</form>

<!-- #============================#
#=====Flight Booking=========#
#============================# -->

<h2>Flight Booking</h2>
<form action="/booking" method="post">
  <label>
    Desination City
    <input type="text" name="origin">
  </label>
<br>
  <label>
    Arrival City
    <input type="text" name="destination">
  </label>
<br>
  <label>
    Departure Date
    <input type="date" name="date">
  </label>
<br>
<button>Submit</button>
</form>

<!-- #============================#
#===========Login============#
#============================# -->
<h2>Log-In Page</h2>
<form action="/login" method="post">
 <label>
    Email
    <input type="email" name="email">
  </label>
<br>
  <label>
    Password
    <input type="password" name="password">
  </label>
<br>
<button>Login</button>
</form>

<!-- 
#============================#
#======Pizza Delivery========#
#============================# 
-->

<h2>Pizza Delivery Form</h2>
<form action="/pizza" method="post">
 <label>
    <h3>Size</h3>
    Small
    <input type="radio" name="size"> <br>
    Medium
    <input type="radio" name="size"> <br>
    Large
    <input type="radio" name="size"> <br>
  </label>
<br>
  <label>
    <h3>Toppings</h3>
      Pepperoni
      <input type="checkbox" name="pepperoni" value="1"> <br>
       Mushrooms
      <input type="checkbox" name="mushrooms" value="1"> <br>
       Peppers
      <input type="checkbox" name="peppers" value="1"> <br>

  </label>
<br>
<button>Order Pizza!</button>
</form>
