<h1><%= @question %></h1>

<a href="/did-your-test-pass" class="Yes">Yes</a>
<a href="/write-test" class="No">No</a>

<a href="/did-your-test-pass" class="Yes">Yes</a>
<a href="/write-test" class="No">No</a>

