<h1>Welcome to WDInstagram</h1>

<div class="main" role="main">
  <img src="http://scottkleinberg.com/wp-content/uploads/2014/03/instagram-logo-kgo.png">
</div>

<p><a href="/entries">All Entries</a></p>
<p><a href="/entries/new">Create Entry</a></p>
