<h1>Add an book</h1>
<form action="/authors/<%= @author_id %>/books" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >

  <label>
    Title:
    <input type="text" name="title">
  </label>

  <label>
    Release date:
    <input type="date" name="release_date">
  </label>

  <label>
    Genre:
    <input type="text" name="genre">
  </label>

  <button>Add this book</button>
</form>
