<!-- Sinatra uses this as a default -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>99 Bottles of Beer</title>
    <!--href will automatically look in public-->
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
