<!--

@Author: stephenstanwood
@Date:   2014-05-12 15:43:56
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-12 16:15:28

 -->

<h2><%= @coaster.name %></h2>

<p><%= @coaster.to_s %></p>
<img src="<%= @coaster.image_url %>" width="500" />

<form action="/coasters/<%= @coaster.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete this Roller Coaster :(</button>
</form>
