<!DOCTYPE html>
<html lang="en">

<head>
  <title>Such Compliment</title>
</head>

  <body>
    <style> body {
  text-align:center;
  font-family: 'Courier';
  font-size: 24px;} </style>

    <%= yield %>
  </body>
</html>
