<!-- <form action='/flight' method='post'>

<label>
  <h2>Departure City
    <input type="text" name="origin"></h2>
</label>

<label>
  <h2>Arrival City
  <input type="text" name="destination"></h2>
</label>

<label>
  <h2>Date
  <input type="date" name="date"></h2>
</label>
<button>Submit</button>
</form> -->

<!-- <form action='/login' method='post'>
<label>
  <h2>Email
  <input type="email" name="email"></h2>
</label>

<label>
  <h2>Password
  <input type="password" name="pass"></h2>
</label>

<button>Submit</button>
</form> -->
<form action='/pizza' method='post'>

<label>
  <h2>Size:
  <input type="radio" value="Small" name="size"> Small
  <input type="radio" value="Medium" name="size"> Medium
  <input type="radio" value="Large" name="size"> Large</h2>
</label>

<br></br>

<label>
  <h2>Toppings:
  <input type="radio" value="Pepperoni" name="top1"> Pepperoni
  <input type="radio" value="Extra Cheese" name="top2"> Extra Cheese
  <input type="radio" value="Black Olives" name="top3"> Black Olives</h2>
</label>

<br> </br>
<button>Submit</button>
</form>
