<h1>Add a new book for <%= @author.name %>:</h1>

<form action="/authors/<%= @author.id %>/books" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <label>
    Title:
    <input type="string" name="title">
  </label>

  <label>
    Release Date:
    <input type="date" name="release_date">
  </label>

  <label>
    Genre:
    <input type="string" name="genre">
  </label>

  <input type="submit" value="Add Book">
</form>
