<!-- a listing of all venues
a form to create a venue
a form to create a band (independent of venue)
a form for searching all events (across all venues) that occurred on a particular date -->

<%= link_to "Home", root_path %>


<h1>Venues</h1>
<% @venues.each do |venue| %>

<h2> <%= link_to venue.name, venue %> </h2>
<p><%=venue.city%>, <%=venue.state%></p>
<%end%>
