<!DOCTYPE html>
<html lang ="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <title>99 Bottle of Beer on the Wall</title>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
