<h2>Edit post?</h2>
<form action="/entries/<%= @entry.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" type="hidden" value="form_authenticity_token %>">

  <label>
    Author:
    <input type="text" name="author" value="<%= @entry.author %>">
  </label>

  <label>
    Url of Photo:
    <input type="text" name="photo_url" value="<%= @entry.photo_url %>">
  </label>
  <button>Update</button>
</form>
