<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coaster World</title>
  <link href="../style.css" rel="stylesheet">
</head>
<body>
  <h1><a href="/">Coaster World</a></h1>
  <%= yield %>
</body>
</html>
