<!--

@Author: stephenstanwood
@Date:   2014-05-12 15:43:56
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-12 16:13:21

 -->

<h1>Create a roller coaster</h1>

<form action="/coasters" method="post">

  <label>Name:<input type="text" name="name"></label>
  <label>Min Height:<input type="text" name="min_height"></label>
  <label>Top Speed:<input type="text" name="top_speed"></label>
  <label>Image URL:<input type="text" name="image_url"></label>

  <button>Create!</button>
</form>
