/*
* @Author: stephenstanwood
* @Date:   2014-05-16 11:11:28
* @Last Modified by:   stephenstanwood
* @Last Modified time: 2014-05-16 11:31:37
*/

$yellow: #FF0;

body {
  background: #000 image-url("skyline.jpg") no-repeat;
  background-size: cover;
  color: white;
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $yellow;
  text-decoration: none;

  // "namespacing" styles
  &:hover {
    text-decoration: underline;
  }
}

.page {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 20px;
  width: 600px;

  h1 {
    color: lighten($yellow, 40%);
  }

  .hero {
    width: 100%;
  }
}
