<div class="jumbotron homepagebanner">
      <div class="container">
        <h1 id='white-header'>Welcome to Calc.it</h1>
        <p id='white-home-text'>Are you exhausted by continually reaching for a calculator for everyday tasks like adding, subtracting, multiplying or even division? Give us your numbers and let our team of 1930's programmers  crunch for you!</p>
        <p><a href='/simple' class="btn btn-primary btn-lg" role="button">Get calculating »</a></p>
      </div>
    </div>

<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row homepagecenter">
        <div class="col-lg-4">
          <div class="center">
            <img class="img-circle img-home" src="/images/mortgage.jpeg" alt="Generic placeholder image">
            </div>
          <h2>Buy a house</h2>
          <p>Need to know what your ideal pad is going to cost you each month? Enter the numbers and work out the damage. Happy house-hunting!</p>
          <p><a class="btn btn-default" href="/mortgage" role="button">Mortgage calculator &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="center">
            <img class="img-circle img-home" src="/images/trip.jpeg" alt="Generic placeholder image">
          </div>
          <h2>Take a trip</h2>
          <p>How far have you got to go? How fast do you drive? Most importantly, how many reddies is your little outing gonna cost? Get saving buddy cos leaving the house ain't cheap.</p>
          <p><a class="btn btn-default" href="/trip" role="button">Trip Calculator &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="center">
            <img class="img-circle img-home" src="/images/bmi.jpeg" alt="Generic placeholder image">
          </div>
          <h2>How fat am I?</h2>
          <p>Come on fatso. Put the fork down and work out your BMI. </p>
          <p><a class="btn btn-default" href="/bmi" role="button">BMI Calculator &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="center">
            <img class="img-circle img-home" src="/images/death.jpg" alt="Generic placeholder image">
          </div>
          <h2>How much time have I got left?</h2>
          <p>How long can you afford to wait at the post office? Have you go time to get through that DVD box-set? Check out how long 'till you check out. </p>
          <p><a class="btn btn-default" href="/bmi" role="button">Death Calculator &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>


