<h1>Home Page</h1>


<% @venues.each do |venue| %>
  <li><%= link_to venue.name, venue %></li>
<% end %>


<p><%= link_to "Add a venue", new_venue_path %></p>

<p><%= link_to "List of Bands", bands_path %></p>
