<section>
  <article>
    <dl>
      <dt>Name :</dt>
      <dd><%=@category.name%></dd>
    </dl>

    <div class='clear_both'></div>

    <div>
      <a href="/categories/<%=@category.id%>/delete">delete</a>
    </div>
    <div>
      <a href="/categories/<%=@category.id%>/edit">edit</a>
    </div>


  </article>
</section>