<h1>Add a Character</h1>

  <form action="/characters" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >

  <label>
    Name:
      <input type="text" name="name"
  </label>

  <label>
  Image:
    <input type="text" name="image_url"
  </label>

    <label>
  Name:
  <input type="submit" value="Duh Duh dadadada duh">



<audio src="http://www.moviewavs.com/0093058674/MP3S/Movies/Star_Wars/wookie2.mp3" autoplay  </audio>


<br></br>

<a href="/characters">Characters</a>
<a href="/">HOME</a>
  </form>


