<section>
  <% @items.each do |item| %>
    <article>
      <dl>
        <dt>Item :</dt>
        <dd><%=item['item']%></dd>
      <dl>
      <div class='link'><a href='/items/<%=item['id']%>'>show</a></div>
      <div class='clear_both'></div><%# TODO: replace with clearfix hack... %>
    </article>
  <% end %>
</section>