<form action='/ingredients' method='post'> 
  <dl>
    <dt>
      <label for='name'>Name:</label>
    </dt>
    <dd>
      <input id='name' type='text' name='name' autofocus>
    </dd>
  </dl>

  <div class='clear_both'></div>

<button>add</button>


</form>