<h1>Create a Roller Coaster</h1>

<form action="/roller_coasters" method="post">

    <label>
      Name:
      <input type="text" name="name">
    </label>

    <label>
      Minimum Height:
      <input type="text" name="min_height">
    </label>

    <label>
      Top Speed:
      <input type="text" name="top_speed">
    </label>

    <label>
      Image:
      <input type="text" name="image_url">
    </label>

    <button>Create this Roller Coaster!</button>

  </form>
