<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rollercoasters</title>
  <style>
    body
    {
      background-image:url('http://1-background.com/images/clouds/clouds-fluffly-clouds-seamless-background-blue-sky.jpg');
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
